.navbar-nav{ 
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
  } 

.nav-link{
   font-size: 20px;
  
}

.nav-item{
    font-size: 15px;
   } 

.btn-outline{
    background-color: #80647c; !important;
}

.container  {
    padding-top: 40px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    
   }
  
 .hero h1 { 
   
    color:#80647c;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 1.4;
}
  
.hero p {
    color: #80647c;
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 300;
}

.card{
padding-top: 30px;
margin-left: 500px;
height: 300px;
width: 500px;

}
  
.card-body{
 background-color: #80647c ;
}


